<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <title>Первый подкаст</title>
    <meta name="color-scheme" content="dark light" />
    <link rel="stylesheet" href="{{ url_for('static', path='front.css') }}" />
  </head>
  <body>
    <div class="wrapper">
      <main class="app free-issue-app">
        <div class="podcasts-img">
          <img src="{{ url_for('static', path='assets/img/podcastsImg2.webp') }}" alt="" />
        </div>

        <div class="free-issue-cnt first-podcast-cnt">
          <div class="free-issue-titles">
            <h2>Вы уверены?</h2>
          </div>
          <div class="sure-buttons">
               <a class="btn-light" href="/podcasts">да</a>
               <a class="btn-white" href="/podcasts">нет</a>
          </div>
        </div>
      </main>

      <div class="section-bg">
        <img src="{{ url_for('static', path='assets/img/background3.webp') }}" alt="" />
      </div>
    </div>
    <script src="{{ url_for('static', path='assets/js/main.js') }}"></script>
  </body>
</html>
