<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <title>Loader</title>
    <meta name="color-scheme" content="dark light" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='front.css') }}?v=2"
    />
    <style></style>
  </head>
  <body>
    <div class="wrapper">
      <div class="loader-wrapper">
        <div class="loader">
          <span>Загрузка...</span>

          <div class="loader-img">
            <img
              src="{{ url_for('static', path='assets/img/loader.png') }}"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="section-bg">
        <img
          src="{{ url_for('static', path='assets/img/background3.webp') }}"
          alt=""
        />
      </div>
    </div>
  </body>
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
  <script src="{{ url_for('static', path='assets/js/main.js') }}"></script>
</html>
